.container > main > .content-card{
    width: 100%;
    background-color: var(--body-color);
    padding: var(--padd);
    padding-top: 30px;
}
.container > main > .content-card > .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container > main > .content-card > .row > .list-card{
    width: 47%;
    text-align: center;
    margin: 30px 0;
    overflow: hidden;
    /* padding: 10px; */
}
.container > main > .content-card > .row > .list-card > img{
    margin-bottom: 10px;
    border-radius: 8px;
}

.container > main > .content-card > .row > .list-card > a{
    color: #A9CBF1;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.container > main > .content-card > .row > .list-card > a:hover{
    text-decoration: underline;
}